parameters:
    level: 10
    tmpDir: var/cache/phpstan
    paths:
        - src
        - tests

    reportUnmatchedIgnoredErrors: true
    checkUninitializedProperties: true

    type_coverage:
        constant: 100
        declare: 100
        param: 100
        property: 100
        return: 100
