parameters:
    level: 10
    tmpDir: var/cache/phpstan
    paths:
        - src
        - tests

    excludePaths:
        - vendor

    type_coverage:
        param: 100
        return: 100
        property: 100

    reportUnmatchedIgnoredErrors: true
    checkUninitializedProperties: true
